body, html {
    display: grid;
    grid-template-columns: 20vw 15vw 15vw 15vw 15vw 20vw;
    grid-template-rows: 100vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
    margin: 0px;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
  }
  
  /*Header*/
  #header {
    grid-column: 1 / 7;
    grid-row: auto;
  }

  #section2{
    grid-column: 1 / 7;
    grid-row: 2 / 4;
  }

  h1{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 70px;
    color: white;
    position: absolute;
    left: 20%; 
    top: 20%;
  }

  p{
    background-color: #242730;
    color: white;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
  }

  .bg-img {
    margin: 0px; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #242730;
  }

  .container {
    left: 18%;
    position: absolute;
    margin: 20px;
    width: auto;
  }

  .topnav {
    overflow: hidden;
    background-color: transparent;
  }
  
  .topnav a {
    float: left;
    color: #c7c7c7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }

  .hero-text {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-stretch:extra-condensed;  
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .logo{
    float: left;
    position: relative;
    top: -190px;
    left: 490px;
    overflow: hidden;
  }

  /*maps*/
  #leaflet {
    margin-top: 20px;
    margin-left: 50px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  #tekstLeaflet {
    margin-left: 10px;
    grid-column: 4 / 7;
    grid-row: 2 / 3;
  }

  #openLayers{
    margin-top: 20px;
    margin-left: 10px;
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }

  #tekstOpenLayers {
    margin-left: 50px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  #maplibre{
    margin-top: 20px;
    margin-left: 50px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  #tekstMapLibre {
    margin-left: 10px;
    grid-column: 4 / 7;
    grid-row: 4 / 5;
  }

  /*chart*/
  .chart{
    margin-top: 20px;
    margin-left: 10px;
    grid-column: 4 / 7;
    grid-row: 5 / 6;
  }

  #tekstChart {
    margin-left: 50px;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }
  
  .hoogteKungsleden{
    margin-top: 50px;
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    margin-left: 50px;
  }

  #tekstDataWrapper {
    margin-top: 50px;
    margin-left: 10px;
    grid-column: 4 / 7;
    grid-row: 6 / 7;
  }

  #tekstOnderbouwing {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    grid-column: 1 / 7;
    grid-row: 7 / 8;
  }


  :after,
  :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  section {
    height: 100vh;
    width: 100%;
    display: table;
    
  }
  section.chart{
    background-color: white;
  }
  
  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    top: 310px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(255, 255, 255);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid rgb(255, 255, 255);
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  /*
  .button{
    margin-top: 20px;
    margin-left: 20px; 
    width: 200px;
    height: 70px;  
    border: none;
    background-color: lightgrey;
    padding: 10px;

  }

  .button:hover{
    background-color: aquamarine;
    cursor: pointer;
  }
  */
